/* add user content
-------------------------------------------*/
.add-user-content {
  padding: 40px 0;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-weight: 400;
    font-size: 1.5rem;
    border-bottom: 1px #e1e4e8 solid;
    padding-bottom: 1rem;
    margin-bottom: 2.5rem;
  }
  .field-content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px #e1e4e8 solid;
    padding: 20px 20px 10px;
  }
  .notes {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;

    .notes-content {
      width: 90%;
      height: 20rem;
      overflow-y: scroll;
      background-color: #fff;
      border: 1px solid #e1e4e8;
      padding: 20px;

      p, ol {
        margin-bottom: 1rem;
        font-size: 0.8rem;
      }
      ol {
        list-style-type: none;
        padding: 0;
      }
      section {
        padding-top: 1.5rem;

        h3 {
          font-weight: 600;
          font-size: 1rem;
          margin-bottom: 1rem;
        }
        p,　ol {
          margin-left: 1rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .add-user-content {
    width: 690px;

    .notes {
      width: 90%;
      
      .notes-content {
        width: 100%;
      }
    }
  }
}
