/* posts edit content
-------------------------------------------*/
.posts-edit-content {
  
  .bd-fieldset {
    background-color: white;
    margin: 0;
    padding: 1.5rem;
    border: solid #f7f7f9;
    border-width: .2rem;
  }
}
