// @import '../../node_modules/element-ui/lib/theme-chalk/index.css';

/* header
-------------------------------------------*/
.bd-navbar {
  .active .fa-check-circle {
    color: #28a745;
  }
  .active .fa-minus-circle {
    color: #dc3545;
  }
  
  .nav-item {
    font-size: 1.8em;

    .btn-icon {
      padding: 0;
      border-radius: 0;
      border: 0;
      line-height: 1;
      background-color: transparent;
      font-size: 1.0em;
      color: white;
    }
  }
}

/* posts edit content
-------------------------------------------*/
.posts-edit-content {
  
  .bd-btn-down,
  .bd-btn-up {
    padding: 0;
    font-size: 1.6rem;
    line-height: 1;
  }
  .bd-btn-up {
    margin-right: .25rem;
  }
  .bd-btn-remove {
    padding: 0;
    font-size: 1.6rem;
    line-height: 1;
  }

  .bd-btn-field {
    margin: 0;
    display: block;
    width: 100%;
    padding: 0;
    background-color: white;
    
    & > span {
      display: block;
      padding: 2rem;
      border-style: dashed;
      border-width: .2rem;
      border-color: #666666;
    }
    &:hover > span {
      border-color: #999999;
    }
  }

  .bd-fieldset {
    margin: 0;
    margin-bottom: 20px;
    background-color: white;
    border: solid #f7f7f9;
    border-width: .2rem;
    background-color: white;
    margin: 0;
    margin-bottom: 20px;
    border: solid #f7f7f9;
    border-width: .2rem;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
    
    .bd-fieldset-header {
      padding: .5rem .5rem 0 1rem; 
    }
    .bd-fieldset-body {
      padding: 1rem;
    }
  }
  
  .bd-cell {
    position: relative;
    
    & .bd-btn-remove {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: -1rem;
      margin-right: -1rem;
      background-color: white;
      border-radius: 50%;
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
    }
  }
  
  .bd-image-empty {
    position: relative;
    padding-top: 75%;
    
    .bd-btn-field {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      
      & > span {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
  }
  
  .bd-cells-images {
    background-color: #f7f7f9;
    border-radius: 10px;
    padding: 1.5rem 1.5rem 0;
  }
  
  .bd-cells-items {
    margin-bottom: -1.5rem;
    
    .bd-cell {
      background-color: #f7f7f9;
      padding: 1.5rem 1.5rem;
    }
  }
  
  .bd-cells-values {
    margin-bottom: -1.5rem;
    
    .bd-cell {
      background-color: #f7f7f9;
      padding: 1.5rem 1.5rem;
    }
  }
}
