/* posts edit content
-------------------------------------------*/
.posts-edit-content {
  
  .bd-btn-down,
  .bd-btn-up {
    padding: 0;
    font-size: 1.6rem;
    line-height: 1;
  }
  .bd-btn-up {
    margin-right: .25rem;
  }
  .bd-btn-remove {
    padding: 0;
    font-size: 1.6rem;
    line-height: 1;
  }

  .bd-btn-field {
    margin: 0;
    display: block;
    width: 100%;
    padding: 0;
    background-color: white;
    
    & > span {
      display: block;
      padding: 2rem;
      border-style: dashed;
      border-width: .2rem;
      border-color: #666666;
    }
    &:hover > span {
      border-color: #999999;
    }
  }

  .bd-fieldset {
    margin: 0;
    margin-bottom: 20px;
    background-color: white;
    border: solid #f7f7f9;
    border-width: .2rem;
    background-color: white;
    margin: 0;
    margin-bottom: 20px;
    border: solid #f7f7f9;
    border-width: .2rem;
    
    .bd-fieldset-header {
      padding: .5rem .5rem 0 1rem; 
    }
    .bd-fieldset-body {
      padding: 1rem;
    }
  }
  
  .bd-cell {
    position: relative;
    .bd-btn-remove {
      position: absolute;
      right: .5rem;
      top: .5rem;
    }
  }
}
